services:
  ui:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: lumiere_ui
    ports: ["3000:3000"]
    env_file: ./.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    depends_on:
      api:
        condition: service_started

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: lumiere_api
    ports: ["8000:8000"]
    env_file: ./.env
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  db:
    image: postgres:14-alpine
    container_name: lumiere_db
    ports: ["5435:5432"]
    env_file: ./.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  redis:
    image: redis:7-alpine
    container_name: lumiere_redis
    ports: ["6379:6379"]
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

  cli:
    build:
      context: ./backend
    container_name: lumiere_cli
    profiles:
      - cli
    env_file: ./.env
    volumes:
      - ./backend:/app
    entrypoint: poetry run python3 manage.py
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
  redis_data:
